{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/about.css">
{% endblock %}

{% block title %}
Fauzan Rizky
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/about">About</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
{% endblock %}

{% block content %}
<div class="container-fluid" id="mainDiv">
    <h3>Who is Fauzan Rizky?</h3>
    <h6>
        He is also known as m3d4ng or OjanRN, he is a full-stack programmer.
    </h6>
    <h6>
        He mainly writes his programs on Python, and he has been learning and using Python
        for the last 4 Years and other languages such as Javascript and PHP.
    </h6>
    <h6>
        He lives in Tangerang where the weather is supposed to be {{WEATHER}}°C and
        the local time is {{TIME}} WIB at the moment.
    </h6>
</div>
{% endblock %}