<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

        h1 {
            font-family: "JetBrains Mono", monospace;
        }
    </style>
</head>
<body>
    <h1 id="content">{% block content %}{% endblock %}</h1>
</body>
</html>