{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/contact.css">
{% endblock %}

{% block title %}
Fauzan Rizky
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
  </li>
{% endblock %}

{% block content %}
<div class="container-fluid" id="mainDiv">
    <h5>CONTACT_PAGE</h5>
</div>
{% endblock %}